<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head th:fragment="styles">
    <link rel="stylesheet" type="text/css" th:href="@{/static/content/order.css}" />
</head>
<head th:fragment="scripts">
    <script type="text/javascript" th:src="@{/static/scripts/order.js}"></script>
</head>
<section th:fragment="page" class="order-page">
    <input class="order-page__search" type="input" placeholder="Buscar..."></input>
    <div class="order-boxes">
        <div class="procuts-selection">
            <div class="order-page__container products" th:attr="data-products-source=@{/products/get-all}"></div>
        </div>
        <div class="order-management">
            <div class="order-page__container">
                <ul class="order-list">
                </ul>
            </div>
        </div>
    </div>
</section>
</html>
