<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head th:fragment="styles">
    <link rel="stylesheet" type="text/css" th:href="@{/static/content/order.css}"></link>
</head>
<head th:fragment="scripts">
    <script type="text/javascript" th:src="@{/static/scripts/order.js}"></script>
</head>
<section th:fragment="page" class="order-page">
    <label for="order-page__search">Busca </label>
    <input id="order-page__search" class="order-page__search" type="text" placeholder="Buscar..."></input>
    <div class="flex-content">
        <div class="procuts-selection">
            <label for="products">Produtos</label>
            <div id="products" class="container products" th:attr="data-products-source=@{/products/get-all}"></div>
        </div>
        <div class="order-management">
            <label for="order">Pedido</label>
            <div id="order" class="container">
                <ul th:attr="data-action=@{/order/try-to-order},data-method='POST'" class="order-list">
                </ul>
            </div>
            <div class="order-page__actions">
              <div class="fa fa-times-circle order-page__alert hide"></div>
              <button th:attr="data-redirect-url=@{/order/success}" class="request-order button"> Fazer o Pedido </button>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <p>Deseja realmente remover uma unidade?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm">Sim</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="order-element-li hide">
      <li data-quantity='1' data-price='{{PRODUCT_PRICE}}' data-id='{{PRODUCT_ID}}'>
          {{PRODUCT_NAME}}
          <div class='operation-icons'>
              <i class='fa fa-minus-square'></i>
              qtd. <span>1</span>
              <i class='fa fa-plus-square'></i>
           </div>
      </li>
    </div>
</section>
</html>
