<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order page</title>
<!--     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    Favicon
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    Common styles
    <link rel="stylesheet" type="text/css" th:href="@{/styles/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/form.css}" />
    View specific styles
    <link rel="stylesheet" type="text/css" th:href="@{/styles/login-layout.css}" />
    <th:block th:include="${view} :: styles" />
    Common scripts
    <script type="text/javascript" th:src="@{/scripts/jquery-2.1.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/velocity.min.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/commonts.js}"></script>
    <script type="text/javascript" th:src="@{/scripts/form.js}"></script>
    View specific scripts
    <script type="text/javascript" th:src="@{/scripts/login.js}"></script>
    <th:block th:include="${view} :: scripts" />  -->
</head>
<body>
    <div class="body">
        <div class="page">
            <div class="branding">
            </div>
            <div th:replace="${view} :: page"></div>
        </div>
    </div>
</body>
</html>